header {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
  }

.titulo-header {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.titulo-header img{
    width: 40px;
}