body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #55BBF2;
  margin: 0;
}

.container-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

footer {
  background-color: #55BBF2;
  text-align: end;
}

footer img{
  height: 90px;
}

button{
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.imagem-botao {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 110px;
}

.imagem-botao img {
  width: 150px; 
  height: auto;
  margin-bottom: 10px;
}
